.info {
    max-width: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.info ul li {
    display: flex;
    gap: 20px;
}



.fetchData {
    background-color: #7e939d;
    color: #fff;
    font-weight: 700;
    max-width: 100vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 15px 25px rgba(132, 132, 132, 0.3);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetchData p {
    font-size: 16px;
    border: solid 1px;
    border-color: #ffffff;
    padding: 6px;
    border-radius: 5px;
}

.fetchData a {
    display: flex;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-size: 16px;
    border: solid 1px;
    border-color: #ffffff;
    padding: 6px;
    border-radius: 5px;
}