.info {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info ul {
    display: flex;
    width: 1400px;
    flex-direction: column;
}

.fetchData {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.segment {
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slide {
    display: flex;
    gap: 5px;
}
