.card {
    background-color: #1d2b3a;
    max-width: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.inputcard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user .inputData {
    width: 375px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #1d2b3a;
    border-radius: 7px;
    outline: none;
    color: aliceblue;
    font-size: 1em;
}

.user span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.user .inputData:valid ~ span,
.user .inputData:focus ~ span
 {
    color: #fff;
    transform: translateX(-20px) translateY(-20px);
    font-size: 0.8em;
    padding: 0 10px;
    background: #1d2b3a;
}

.submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: #fff;
    background-color: #1d2b;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1em;
}

.submit:hover {
    background-color: aquamarine;
    color: #1d2b3a;
}

.inputFile {
    /* Hide the default file input button */
    display: none;
  }

.customFileInput {
    display: inline-block;
    text-transform: uppercase;
    color:#fff;
    background-color: #2a85af;
    text-align: center;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0,0.25);
    border-radius: 5px;
}

.customFileInput:active{
    transform: scale(0.9);
}

.customFileInput:hover{
    background-color: aquamarine;
    color: #1d2b3a;
}