.navbar {
  display: flex;
  flex-direction: column;
}

.navbar nav {
  display: flex;
  flex-direction: column;
}

.navbar nav ul {
  align-items: center;
  display: flex;
  gap: 20px;
}

.navbar nav ul li {
  list-style-type: none;
}

.navi {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  display: block;
  cursor: pointer;
  color: rgb(18, 54, 90);
  padding: 5px 15px;
  border-radius: 10px;
  width: 120px;
  transition: 0.4s;
  text-transform: uppercase;
}


.navi:hover {
  background-color: rgb(132, 150, 168);
}